---
/**
 * Docs Index Page
 * Redirects to the Quick Start guide as the default documentation entry point
 */
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/docs/getting-started/quick-start" />
    <link rel="canonical" href="/docs/getting-started/quick-start" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/docs/getting-started/quick-start">Quick Start Guide</a>...</p>
  </body>
</html>
